<form class="findPassword-info" name="signUpForm" ng-submit="findPassword(yourUserName,yourEmail)">
    <p class="form-group"  ng-class="{'has-success':signUpForm.uName.$valid}">
        <label>用户名:&nbsp</label>
        <input placeholder="请输入您的用户名"
               type="text"
               name="uName"
               ng-model="yourUserName"
               class="ss-input-text ss-input-text-sm"
               ng-pattern="RegExpTest"
               ng-change="yourUserName && isExist(yourUserName)"
               ng-minlength="4"
               ng-maxlength="16"
               required
        >
        <span class="userName-error" ng-bind="!signUpForm.uName.$error.pattern && userNameExist||''"></span>
        <!-- <span class="userName-error" ng-if="signUpForm.uName.$error.required && signUpForm.uName.$touched">用户名不可为空</span> -->
        <span class="userName-error" ng-if="(signUpForm.uName.$error.pattern && signUpForm.uName.$touched )">用户名不合法</span>

    </p>
    <p class="form-group" ng-class="{'has-success':signUpForm.email.$valid}">
        <label class="login-label">邮箱地址:&nbsp</label>
        <input placeholder="请输入您绑定的邮箱"
               type="text"
               ng-model="yourEmail"
               class="ss-input-text ss-input-text-sm"
               name="email"
               ng-pattern="RegExpEmail"
               ng-change="findPassword(yourUserName, yourEmail, true)"
               required
        >
        <span class="email-error" ng-bind='isMatch'></span>
        <!-- <span class="email-error" ng-if="signUpForm.email.$error.required && signUpForm.email.$touched ">邮箱不可为空</span> -->
        <span class="email-error" ng-if="signUpForm.email.$error.pattern && signUpForm.email.$touched">邮箱格式错误</span>
    </p>

    <p class="form-group">
        <button type="submit" class="ss-btn-lg ss-btn-info" ng-disabled="signUpForm.$invalid || stopTiwnceReq">找回密码</button>
        <div class="alertRegisterInfo_success" style="margin-left:0;" ng-show="goToLogin" >
            修改密码链接已发至您的邮箱，请注意收查
        </div>
    </p>

</form>
